<html lang="vi">
<head>
    {{header_init}}
    <title>Phân Tích Của Tôi</title>
    {{meta_no_index}}
    <link rel="stylesheet" href="/css/my-user-data-items.css"/>
    <link rel="stylesheet" href="/css/my-analysis.css"/>
    <script defer src="/js/widgets/board-gui.js"></script>
    <script defer src="/js/infinite-scroll-page.js"></script>
    <script defer src="/js/userdata/my-analysis-dto.js"></script>
    <script defer src="/js/userdata/my-analysis.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>Phân Tích Của Tôi</h1>
    <hr class="only-desktop"/>
    <div id="my-game-items">
    </div>
    <div id="is-loading-message">
        Đang tải thêm phân tích...
    </div>
    <div id="no-analysis-message" class="empty-list-message-user-data">
        Bạn chưa tạo phân tích nào. Bạn có thể tạo phân tích của riêng mình trong <a href="/analysis">Bàn Phân
        Tích</a>. Sau khi lưu phân tích, nó sẽ xuất hiện trong danh sách này.
    </div>
</div>
</body>
</html>
