<html lang="vi">
<head>
    {{header_init}}
    <title>Tìm Kiếm Cơ Sở Dữ Liệu Của Tôi</title>
    {{meta_no_index}}
    <link rel="stylesheet" href="/css/my-user-data-items.css"/>
    <link rel="stylesheet" href="/css/my-db-searches.css"/>
    <script defer src="/js/widgets/board-gui.js"></script>
    <script defer src="/js/infinite-scroll-page.js"></script>
    <script defer src="/js/userdata/my-db-searches-dto.js"></script>
    <script defer src="/js/userdata/my-db-searches.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>Tìm Kiếm Cơ Sở Dữ Liệu Của Tôi</h1>
    <hr class="only-desktop"/>
    <div id="my-game-items">
    </div>
    <div id="is-loading-message">
        Đang tải thêm tìm kiếm...
    </div>
    <div id="end-of-pagination-message">
        Không còn tìm kiếm nào để tải.
    </div>
    <div id="no-searches-message" class="empty-list-message-user-data">
        Bạn chưa tìm kiếm cơ sở dữ liệu. Hãy vào <a href="/database">cơ sở dữ liệu</a> để bắt đầu tìm kiếm.
    </div>
    {{logged_as_guest_message}}
</div>
</body>
</html>
