<html lang="vi">
<head>
    {{header_init}}
    <title>Ván Đấu Của Tôi</title>
    {{meta_no_index}}
    <link rel="stylesheet" href="/css/my-user-data-items.css"/>
    <link rel="stylesheet" href="/css/my-games.css"/>
    <script defer src="/js/widgets/board-gui.js"></script>
    <script defer src="/js/infinite-scroll-page.js"></script>
    <script defer src="/js/userdata/my-games-dto.js"></script>
    <script defer src="/js/userdata/my-games.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>Ván Đấu Của Tôi</h1>
    <hr class="only-desktop"/>
    <div class="standard-checkbox">
        <span>
            <input id="include-canceled-checkbox" type="checkbox"/>
        </span>
        <span class="label-span">
            <label for="include-canceled-checkbox">Bao gồm ván đấu đã hủy</label>
        </span>
    </div>
    <div class="standard-checkbox">
        <span>
            <input id="include-below-move-3-checkbox" type="checkbox"/>
        </span>
        <span class="label-span">
            <label for="include-below-move-3-checkbox">Bao gồm ván đấu dưới 3 nước đi</label>
        </span>
    </div>
    <div id="my-game-items">
    </div>
    <div id="is-loading-message">
        Đang tải thêm ván đấu...
    </div>
    <div id="no-game-played-message" class="empty-list-message-user-data">
        Bạn chưa chơi ván nào. Bạn có thể tham gia ván đấu trong <a href="/">Sảnh Chờ</a>
        hoặc <span class="action-link" onclick="showNewGameModal()">tạo ván mới</span>
    </div>
    {{logged_as_guest_message}}
</div>
</body>
</html>
