<html lang="vi">
<head>
    {{header_init}}
    <title>Câu Đố Đã Chơi Của Tôi</title>
    {{meta_no_index}}
    <link rel="stylesheet" href="/css/my-user-data-items.css"/>
    <link rel="stylesheet" href="/css/my-played-puzzles.css"/>
    <script defer src="/js/widgets/board-gui.js"></script>
    <script defer src="/js/puzzles/puzzles-utils.js"></script>
    <script defer src="/js/infinite-scroll-page.js"></script>
    <script defer src="/js/userdata/my-played-puzzles-dto.js"></script>
    <script defer src="/js/userdata/my-played-puzzles.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>Câu Đố Đã Chơi Của Tôi</h1>
    <hr class="only-desktop"/>
    <div id="my-game-items">
    </div>
    <div id="is-loading-message">
        Đang tải thêm câu đố...
    </div>
    <div id="no-puzzle-played-message" class="empty-list-message-user-data">
        Bạn chưa chơi câu đố nào. Hãy vào <a href="/puzzles">câu đố</a> để chơi.
    </div>
    {{logged_as_guest_message}}
</div>
</body>
</html>
