<html lang="vi">
<head>
    {{header_init}}
    <title>Giới thiệu về elephantchess.io</title>
    <meta name="description"
          content="Động lực chính đằng sau ứng dụng web này là tạo ra một giao diện đẹp, linh hoạt để chơi các câu đố cờ tướng, điều mà dường như chưa có vào thời điểm đó.">
    <meta property="og:url" content="https://elephantchess.io/about">
    <link rel="canonical" href="https://elephantchess.io/about">
    <link rel="stylesheet" href="/css/about.css"/>
    <script defer src="/js/default-base-page.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <div class="logo-container">
        <img src="/images/logo-smaller.png" alt="logo"/>
    </div>
    <h1>Giới thiệu</h1>
    <hr/>
    <p>
        Động lực ban đầu đằng sau ứng dụng web này là tạo ra một giao diện đẹp, linh hoạt để chơi <a
            href="/puzzles?medium=about_page">câu đố cờ tướng</a>, điều mà dường như chưa có vào thời điểm đó. Hiện tại chúng tôi
        có khoảng 18.000 câu đố. Tính đến nay, tất cả các câu đố đều là "tìm đường chiếu hết ngắn nhất" (đây là
        dạng dễ suy ra nhất từ dữ liệu ván đấu hiện có), nhưng chúng tôi cũng đang lên kế hoạch tạo thêm các câu đố ở những
        thể loại khác.
    </p>
    Ngoài ra - với ý tưởng mang cờ tướng đến với đông đảo khán giả hơn - chúng tôi đã bổ sung thêm:
    <ul>
        <li>
            <a href="/?medium=about_page">Người đấu Người</a> (PvP)
        </li>
        <li>
            <span id="play-bot-span" class="action-link" onclick="showPlayBotModal()">Người đấu Máy</span> (PvB)
        </li>
        <li>
            <a href="/analysis?medium=about_page">Bàn Phân Tích</a>
        </li>
        <li>
            <a href="/database?medium=about_page">Cơ Sở Dữ Liệu Ván Đấu</a>
        </li>
    </ul>
    <p>
        Chúng tôi dự định giữ ứng dụng không có quảng cáo, miễn phí sử dụng và mã nguồn mở. Chúng tôi đang cố gắng hướng tới một nền tảng
        tự duy trì về tài chính, dựa trên đóng góp của người dùng và hàng lưu niệm, với chất lượng dịch vụ là ưu tiên hàng đầu.
    </p>
    <h1>Ủng Hộ Chúng Tôi</h1>
    <hr/>
    <p>
        Nếu bạn yêu thích dự án của chúng tôi và muốn giúp đỡ, có một vài điều bạn có thể làm:
    </p>
    <ul>
        <li>
            Ủng hộ chúng tôi trên <a href="https://ko-fi.com/elephantchess" target="_blank">Ko-fi</a>
            hoặc trên <a href="https://www.paypal.com/paypalme/benckx/4" target="_blank">PayPal</a>
        </li>
        <li>
            Ghé thăm <a href="https://elephanchessio.myspreadshop.com/all" target="_blank">cửa hàng lưu niệm của chúng tôi</a>, chúng tôi có
            <a href="https://elephanchessio.myspreadshop.com/men+t-shirts?q=P22" target="_blank">áo thun</a>, <a
                href="https://elephanchessio.myspreadshop.com/men+hoodies+%26+sweatshirts?q=P25"
                target="_blank">áo hoodie</a>, <a
                href="https://elephanchessio.myspreadshop.com/accessories+mugs+%26+drinkware?q=P110" target="_blank">cốc</a>,
            <a href="https://elephanchessio.myspreadshop.com/stickers?q=D61" target="_blank">sticker</a>, v.v.
        </li>
        <li>
            Cho chúng tôi một sao trên <a href="https://github.com/benckx/elephantchess" target="_blank">kho GitHub</a>.
        </li>
        <li>
            Và tất nhiên, hãy chia sẻ liên kết với bạn bè và chơi vài ván cờ.
        </li>
    </ul>
    <h1>Liên Hệ</h1>
    <hr/>
    <p>
        Hãy thoải mái trò chuyện với chúng tôi qua các kênh khác nhau; để báo lỗi, gửi phản hồi, thảo luận về tính năng mới,
        đề xuất thay đổi hoặc thảo luận bất cứ điều gì liên quan đến cờ tướng.
    </p>
    <ul>
        <li>
            Tham gia <a href="https://discord.gg/WEGDqnWXNg" target="_blank">máy chủ Discord</a> của chúng tôi
        </li>
        <li>
            Điền <a href="/contact?medium=about_page">biểu mẫu liên hệ</a>
        </li>
        <li>
            Mở ticket trên <a href="https://github.com/benckx/elephantchess.io/issues" target="_blank">kho GitHub
            chuyên dụng</a> (để báo lỗi và yêu cầu thay đổi)
        </li>
        <li>
            Theo dõi các phát triển hiện tại và gửi phản hồi trên <a href="https://github.com/users/benckx/projects/2"
                                                                       target="_blank">bảng dự án GitHub</a>
        </li>
    </ul>
    <p>
        Trang web được quản lý bởi <a
            href="https://kbopub.economie.fgov.be/kbopub/zoeknummerform.html?nummer=0700.990.987&actionLu=Recherche&lang=en"
            target="_blank">Encelade</a>, một công ty LLC đăng ký tại Bỉ. Trưởng dự án là <a href="https://benckx.me"
                                                                                        target="_blank">benckx</a>.
    </p>
    <h1>Dành Cho Lập Trình Viên</h1>
    <hr/>
    <ul>
        <li>
            <a href="/about/developers/board-gui-example">Giao diện Bàn Cờ (Board GUI)</a> có sẵn dưới dạng thư viện độc lập.
        <li>
            Mã nguồn dự án được cung cấp theo giấy phép GPLv3 trên <a href="https://github.com/benckx/elephantchess"
                                                                    target="_blank">GitHub</a>, và các thư viện theo
            LGPLv3.
        </li>
    </ul>
    <h1>Trang Khác</h1>
    <hr/>
    <ul>
        <li>
            <a href="/about/faq?medium=about_page">Câu Hỏi Thường Gặp</a>
        </li>
        <li>
            <a href="/about/changelog?medium=about_page">Nhật Ký Thay Đổi</a> - lịch sử cập nhật
        </li>
        <li>
            <a href="/about/roadmap?medium=about_page">Lộ Trình</a> - gửi phản hồi về kế hoạch và tính năng sắp tới
        </li>
        <li>
            <a href="/about/datasets?medium=about_page">Bộ Dữ Liệu</a>
        </li>
    </ul>
    <h1>Thư Viện Front-End</h1>
    <hr/>
    <ul>
        <li>
            <a href="https://apexcharts.com/" target="_blank">ApexCharts.js</a>
        </li>
        <li>
            <a href="https://mymth.github.io/vanillajs-datepicker" target="_blank">vanillajs-datepicker</a>
        </li>
        <li>
            <a href=https://github.com/kpdecker/jsdiff target="_blank">jsdiff</a>
        </li>
    </ul>
    <h1>Engine</h1>
    <hr/>
    <ul>
        <li>
            Pikafish <a href="https://github.com/official-pikafish/Pikafish/releases/tag/Pikafish-2023-03-05"
                        target="_blank">2023-03-05</a> bởi PikaCat++ (PikaCat-OuO), New Horizons (skystarspython), d:blue
            (dhbloo), Vincentzyx
        </li>
        <li>
            Fairy Stockfish <a href="https://github.com/fairy-stockfish/Fairy-Stockfish/releases/tag/fairy_sf_14_0_1_xq"
                               target="_blank">14.0.1</a> bởi <a href="https://github.com/ianfab" target="_blank">Fabian
            Fichter</a>
        </li>
    </ul>
    <h1>Ghi Nhận Tài Nguyên</h1>
    <hr/>
    <ul>
        <li>
            Âm thanh nhấp chuột bởi <a
                href="https://pixabay.com/users/irinairinafomicheva-25140203/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=13693"
                target="_blank">irinairinafomicheva</a> từ <a
                href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=13693"
                target="_blank">Pixabay</a>
        </li>
        <li>
            Âm thanh thông báo có người tham gia ván đấu của bạn bởi
            <a href="https://freesound.org/people/eqylizer/sounds/624598/" target="_blank">eqylizer</a>
        </li>
        <li>
            Âm thanh thông báo đến lượt bạn đi bởi
            <a href="https://freesound.org/people/Rob_Marion/sounds/542013/" target="_blank">Rob Marion</a>
        </li>
        <li>
            Biểu tượng Đúng/Sai bởi <a href="https://www.vecteezy.com/vector-art/3025935-right-wrong-round-icons-set"
                                    target="_blank"> Poorna Chandra Ghanta</a>
        </li>
        <li>
            Biểu tượng tìm kiếm dữ liệu bởi <a href="https://www.flaticon.com/authors/ndut-design" target="_blank">Ndut_Design</a>
        </li>
        <li>
            Biểu tượng menu hamburger bởi <a href="https://www.flaticon.com/authors/feen" target="_blank">feen</a>
        </li>
        <li>
            Biểu tượng cúp bởi <a href="https://www.flaticon.com/authors/freepik" target="_blank">Freepik</a>
        </li>
        <li>
            Biểu tượng xoay bởi <a href="https://www.flaticon.com/authors/freepik" target="_blank">Freepik</a>
        </li>
        <li>
            Biểu tượng tọa độ bởi <a href="https://www.flaticon.com/authors/travisavery" target="_blank">TravisAvery</a>
        </li>
        <li>
            Biểu tượng chỉnh sửa thế cờ bởi <a href="https://www.flaticon.com/authors/tanah-basah" target="_blank">Tanah Basah</a>
        </li>
        <li>
            Biểu tượng cúp bởi <a href="https://www.flaticon.com/authors/Freepik" target="_blank">Freepik</a>
        </li>
        <li>
            Biểu tượng xúc xắc bởi <a href="https://www.flaticon.com/authors/Freepik" target="_blank">Freepik</a>
        </li>
        <li>
            Biểu tượng âm thanh bởi <a href="https://www.flaticon.com/authors/Freepik" target="_blank">Freepik</a>
        </li>
        <li>
            Biểu tượng bãi biển bởi <a href="https://www.flaticon.com/authors/monkik" target="_blank">monkik</a>
        </li>
        <li>
            Biểu tượng mũi tên đối nhau bởi <a href="https://www.flaticon.com/authors/riajulislam" target="_blank">riajulislam</a>
        </li>
        <li>
            Biểu tượng vùng màu bởi <a href="https://www.flaticon.com/authors/swifticons" target="_blank">Swifticons</a>
        </li>
        <li>
            Biểu tượng cờ các nước <a href="https://flagicons.lipis.dev" target="_blank">https://flagicons.lipis.dev/</a>
        </li>
        <li>
            Quân cờ truyền thống từ <a href="https://commons.wikimedia.org/wiki/File:Xiangqi_Board.svg" target="_blank">Wikimedia</a>
        </li>
        <li>
            Thiết kế voi bởi <a href="https://www.shutterstock.com/g/rumbig" target="_blank">Rumbig</a>
        </li>
    </ul>
</div>
{{footer}}
{{kofi_floating_widget}}
</body>
</html>
