<html lang="vi">
<head>
    {{header_init}}
    <title>Ván Đấu {{page_title}}</title>
    <meta name="description"
          content="Duyệt các ván đấu trong Cơ Sở Dữ Liệu (DB) từ các giải đấu và sự kiện.">
    <link rel="stylesheet" href="/css/browse-games.css"/>
    <script defer src="/js/widgets/board-gui.js"></script>
    <script defer src="/js/widgets/game-thumb.js"></script>
    <script defer src="/js/infinite-scroll-page.js"></script>
    <script defer src="/js/database/database-player-utils.js"></script>
    <script defer src="/js/browse-games.js"></script>
    <script defer src="/js/browse-db-event-games.js"></script>
</head>
<body data-event-id="{{event_id}}">
{{body_init}}
<div class="main-container-text-extended">
    <h1>Ván Đấu {{page_title}}</h1>
    <hr class="only-desktop"/>
    <div id="db-games-container">
        {{game_thumb}}[[iterations:6; {gameType: 'db', parentClass: 'db-game-thumb'}]]
    </div>
    <div id="is-loading-message" style="display: none;">
        Đang tải thêm ván đấu...
    </div>
    <div id="end-of-pagination-message" style="display: none;">
        Không còn ván đấu nào để hiển thị
    </div>
    <div id="no-games-message" class="empty-list-message" style="display: none;">
        Không tìm thấy ván đấu nào cho sự kiện này.
    </div>
</div>
{{kofi_floating_widget}}
</body>
</html>
