<html lang="vi">
<head>
    {{header_init}}
    <title>Danh Mục Kỳ Thủ Cờ Tướng (Xiangqi) – Cơ Sở Dữ Liệu elephantchess.io</title>
    <meta name="description"
          content="Duyệt tất cả kỳ thủ Cờ Tướng (Xiangqi) trong cơ sở dữ liệu elephantchess.io. Hồ sơ, ván đấu, thống kê và khai cuộc của các kỳ thủ Xiangqi hàng đầu thế giới."/>
    <link rel="stylesheet" href="/css/common/nice-table.css"/>
    <link rel="stylesheet" href="/css/database/database.css"/>
    <link rel="stylesheet" href="/css/database/database-players-list.css"/>
    <script defer src="/js/infinite-scroll-page.js"></script>
    <script defer src="/js/database/database-players-list.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>Kỳ Thủ</h1>
    <hr/>
    <div class="center-content-div" style="flex-direction: column">
        {{players_table}}
    </div>
    <div id="is-loading-message" style="display: none;">
        Đang tải thêm kỳ thủ...
    </div>
    <div id="end-of-pagination-message" style="display: none;">
        Không còn kỳ thủ nào để hiển thị
    </div>
</div>
{{kofi_floating_widget}}
</body>
</html>
