<html lang="vi">
<head>
    {{header_init}}
    <title>{{page_title}} – Giải Đấu Cờ Tướng (Xiangqi)</title>
    {{description_meta}}
    <link rel="stylesheet" href="/css/common/nice-table.css"/>
    <link rel="stylesheet" href="/css/database/database.css"/>
    <link rel="stylesheet" href="/css/database/database-event.css"/>
    <script defer src="/js/widgets/board-gui.js"></script>
    <script defer src="/js/widgets/game-thumb.js"></script>
    <script defer src="/js/database/database-event.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>{{page_title}}</h1>
    <hr/>
    <div class="center-content-div-column">
        <div class="warning-explanation">
            <p>
                Kết quả dưới đây có thể chưa đầy đủ. Bảng "xếp hạng" được liệt kê bên dưới được tính toán dựa trên các ván đấu
                có trong Cơ Sở Dữ Liệu của chúng tôi và có thể không phản ánh kết quả thực tế của giải đấu.
            </p>
        </div>
        {{event_games_list}}
    </div>
</div>
{{footer}}
{{kofi_floating_widget}}
</body>
</html>
