<html lang="vi">
<head>
    {{header_init}}
    <title>Chỉnh Sửa Cơ Sở Dữ Liệu</title>
    {{meta_no_index}}
    <script defer src="/js/default-base-page.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-error-message">
    <div class="center-content-div">
        <img alt="401 Unauthorized" class="warning-icon" src="/images/icons/warning.png">
    </div>
    <div class="big-fat-error-message">
        <p>
            Chỉ người dùng đã xác thực có vai trò Biên tập viên mới có thể chỉnh sửa cơ sở dữ liệu.
        </p>
        <p>
            Nếu bạn muốn tham gia đội ngũ Biên tập viên và đóng góp, vui lòng liên hệ với chúng tôi qua <a href="/contact">biểu mẫu</a>
            hoặc <a href="https://discord.gg/WEGDqnWXNg" target="_blank">Discord</a>.
        </p>
        <p>
            Nếu vai trò Biên tập viên đã được cấp cho bạn, bạn có thể cần đăng xuất và đăng nhập lại để các thay đổi có
            hiệu lực.
        </p>
    </div>
</div>
{{footer}}
</body>
</html>
