<html lang="vi">
<head>
    {{header_init}}
    <title>Cơ Sở Dữ Liệu Ván Cờ Tướng (Xiangqi) – Tìm Kiếm Hơn 100.000 Ván Đấu</title>
    <meta name="description"
          content="Tìm kiếm trong hơn 100.000 ván Cờ Tướng (Xiangqi) từ những kỳ thủ hàng đầu thế giới. Cơ sở dữ liệu ván cờ Xiangqi miễn phí với thống kê, khai cuộc, kỳ thủ và giải đấu."/>
    <meta property="og:url" content="https://elephantchess.io/database">
    <link rel="canonical" href="https://elephantchess.io/database">
    <link rel="stylesheet" href="/css/my-user-data-items.css"/>
    <link rel="stylesheet" href="/css/database/database-search.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css">
    <script defer src="/js/widgets/board-gui.js"></script>
    <script defer src="/js/widgets/database-autocompletion.js"></script>
    <script defer src="/js/infinite-scroll-page.js"></script>
    <script defer src="/js/database/database-search.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>Tìm Kiếm Cơ Sở Dữ Liệu</h1>
    <hr/>
    <div class="database-search-layout">
        <div class="database-search-left">
            <p style="margin-block-start: 0;">
                Tìm kiếm trong số <span id="total-games">--</span> ván đấu trong cơ sở dữ liệu.
            </p>
            <p>
                Các ván đấu trong cơ sở dữ liệu này chỉ bao gồm các ván đấu từ giải đấu. Các ván đấu được chơi trên chính elephantchess.io
                không được bao gồm và hiện tại không thể tìm kiếm được.
            </p>
            <div class="search-container">
                <label class="search-label">
                    <span>Kỳ thủ</span>
                    <span class="list-of-entities-link">
                        <a href="/database/players?medium=database-search">xem tất cả kỳ thủ</a>
                    </span>
                    <input id="player-search" type="text"/>
                </label>
                <div class="suggestions-box">
                    <div class="suggestions-box-content"></div>
                </div>
                <div id="player-color-options" class="player-color-options player-color-options-disabled">
                    <label id="player-color-red-label">
                        <input id="player-color-red-input" type="radio" name="player-color" value="red" disabled/>
                        Cầm quân Đỏ
                    </label>
                    <label id="player-color-black-label">
                        <input id="player-color-black-input" type="radio" name="player-color" value="black" disabled/>
                        Cầm quân Đen
                    </label>
                    <label id="player-color-any-label">
                        <input id="player-color-any-input" type="radio" name="player-color" value="both" disabled
                               checked/>
                        Bất kỳ màu nào
                    </label>
                </div>
            </div>
            <div class="search-container">
                <label class="search-label">
                    <span>Giải đấu</span>
                    <span class="list-of-entities-link">
                        <a href="/database/events?medium=database-search">xem tất cả giải đấu</a>
                    </span>
                    <input id="event-search" type="text"/>
                </label>
                <div class="suggestions-box">
                    <div class="suggestions-box-content"></div>
                </div>
            </div>
            <div id="date-range-search" class="search-container">
                <div>
                    <span class="search-label">Ngày</span>
                </div>
                <div id="date-range-search-inputs">
                    <div>
                        <label><input type="text" name="start" class="datepicker-field"></label>
                        <span>đến</span>
                        <label><input type="text" name="end" class="datepicker-field"></label>
                    </div>
                    <div id="relative-time-options-block">
                        <a href="#" class="action-link" id="range-selector-ytd">Từ đầu năm</a>
                        <span> </span>
                        <a href="#" class="action-link" id="range-selector-12m">12 tháng</a>
                        <span> </span>
                        <a href="#" class="action-link" id="range-selector-mtd">Từ đầu tháng</a>
                        <span> </span>
                        <a href="#" class="action-link" id="range-selector-30d">30 ngày</a>
                    </div>
                </div>
            </div>
            <div class="search-container">
                <div>
                    <span class="search-label">Thế cờ (FEN)</span>
                </div>
                <input id="fen-search" type="text"/>
            </div>
            <div id="buttons-container">
                <input type="button" value="Tìm kiếm" id="search-button" class="app-buttons-bigger"/>
                <input type="button" value="Xóa" id="clear-button" class="app-buttons-bigger"/>
            </div>
        </div>
        <div class="database-search-right">
            <h2>Kỳ Thủ Tiêu Biểu</h2>
            <div id="featured-players-list">
                Đang tải...
            </div>
        </div>
    </div>
    <div>
        <div id="search-results">
        </div>
        <div id="is-loading-message">
            Đang tải thêm ván đấu...
        </div>
        <div id="end-of-pagination-message">
            Không còn ván đấu nào để tải.
        </div>
    </div>
</div>
{{kofi_floating_widget}}
</body>
</html>
