<html lang="vi">
<head>
    {{header_init}}
    <title>Duyệt ván đấu Người vs Máy</title>
    <meta name="description"
          content="Duyệt các ván Cờ Tướng (Xiangqi) Người đấu Máy mới nhất được chơi trên elephantchess.io với các engine Pikafish và Fairy-Stockfish.">
    <link rel="stylesheet" href="/css/browse-games.css"/>
    <meta property="og:url" content="https://elephantchess.io/browse/player-vs-bot">
    <link rel="canonical" href="https://elephantchess.io/browse/player-vs-bot">
    <script defer src="/js/widgets/board-gui.js"></script>
    <script defer src="/js/widgets/game-thumb.js"></script>
    <script defer src="/js/infinite-scroll-page.js"></script>
    <script defer src="/js/browse-games.js"></script>
    <script defer src="/js/browse-pvb-games.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-extended">
    <h1>Các Ván Đấu Người vs Máy Mới Nhất</h1>
    <hr class="only-desktop"/>
    <div id="pvb-games-container">
        {{game_thumb}}[[iterations:6; {gameType: 'pvb', parentClass: 'pvb-game-thumb'}]]
    </div>
    <div id="is-loading-message" style="display: none;">
        Đang tải thêm ván đấu...
    </div>
    <div id="end-of-pagination-message" style="display: none;">
        Không còn ván đấu nào để hiển thị
    </div>
    <div id="no-games-message" class="empty-list-message" style="display: none;">
        Không tìm thấy ván đấu nào. Vui lòng quay lại sau!
    </div>
</div>
</body>
</html>
