<html lang="vi">
<head>
    {{header_init}}
    <title>Liên hệ – elephantchess.io</title>
    <meta name="description"
          content="Liên hệ elephantchess.io qua Discord hoặc biểu mẫu liên hệ. Chúng tôi rất mong nhận được phản hồi và góp ý của bạn!">
    <link rel="stylesheet" href="/css/contact-form.css"/>
    <script defer src="/js/contact-form.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>Liên hệ</h1>
    <div id="form-container">
        <label for="email-address">Email</label>
        <br/>
        <input id="email-address"/>
        <br/>
        <br/>
        <label for="contact-form-textarea">Tin nhắn</label>
        <textarea id="contact-form-textarea"></textarea>
        <br/>
        <br/>
        <div id="captcha-container"></div>
        <br/>
        <div class="center-content-div">
            <input id="send-button" type="button" class="app-buttons" value="gửi">
        </div>
    </div>
</div>
{{footer}}
</body>
</html>
