<html lang="vi">
<head>
    {{header_init}}
    <title>Chơi cờ cùng Long Nguyễn</title>
    <meta property="og:url" content="https://chess.logteam.asia/">
    <link rel="canonical" href="https://chess.logteam.asia/">
    <link rel="stylesheet" href="/css/lobby.css">
    <script defer src="/js/widgets/board-gui.js"></script>
    <script defer src="/js/widgets/game-thumb.js"></script>
    <script defer src="/js/lobby/live-games-viewer.js"></script>
    <script defer src="/js/lobby/lobby-dto.js"></script>
    <script defer src="/js/lobby/lobby-client.js"></script>
    <script defer src="/js/lobby/lobby.js"></script>
</head>
<body>
{{body_init}}
<div class="flex-lobby-container">
    <div class="flex-lobby-element flex-games-to-join-list-container">
        <h1>Sảnh chờ</h1>
        <div id="games-to-join-list-container">
            <div id="games-to-join-list-table-container">
                <div id="games-to-join-list"></div>
                <div id="no-game-to-join-message" class="empty-list-message">
                    <p>
                        Hiện chưa có ván nào để tham gia. Bạn có thể
                        <b><span id="create-game-span" class="action-link">tạo ván mới</span></b>
                        hoặc luyện tập <span id="play-bot-span" class="action-link">với máy</span>.
                        Hoặc thử <span id="puzzle-training-span" class="action-link">giải đố cờ thế</span> thay thế.
                    </p>
                </div>
            </div>
        </div>
        <div id="online-users-and-rating" class="discrete-messages"><i>loading</i></div>
    </div>
    <div class="flex-lobby-element flex-new-game-logo-container">
        <div id="game-menu-container" class="center-content-div">
            <div>
                <input id="create-new-game-button"
                       type="button"
                       class="app-buttons-much-bigger"
                       value="tạo ván mới">
            </div>
        </div>
        <div id="logo-holder" class="center-content-div">
            <img alt="Long Nguyen Chess" src="/images/logo-smaller.png" loading="lazy"/>
        </div>
    </div>
    <div class="flex-lobby-element">
        <h1>Luyện cờ thế</h1>
        <div>
            <p>
                Cờ thế là cách tuyệt vời để nâng cao trình độ. Giúp bạn rèn luyện nhãn quan chiến thuật, khả năng nhận diện mẫu
                và tính toán.
            </p>
        </div>
        <div class="center-content-div">
            <div class="board-outer-container">
                <a id="puzzle-board-link-mask" class="board-outer-container-link-mask"></a>
                <div id="puzzle-board-container" class="board-container mini-board-container"></div>
            </div>
        </div>
    </div>
</div>
<div class="flex-lobby-container">
    <div class="flex-lobby-element flex-lobby-element-inter-title">
        <h1>Ván mới nhất</h1>
    </div>
</div>
<div class="flex-lobby-container">
    {{game_thumb}}[[iterations:3; {gameType: 'pvp', parentClass: 'latest-pvp-game-thumb'}]]
</div>
<div class="flex-lobby-container">
    <div class="center-content-div browse-more-link-container">
        <a href="/browse/player-vs-player?medium=lobby" class="browse-more-link">Xem thêm ván mới</a>
    </div>
</div>
<div class="flex-lobby-container">
    <div class="flex-lobby-element flex-lobby-element-inter-title">
        <h1>Ván với máy mới nhất</h1>
    </div>
</div>
<div class="flex-lobby-container">
    {{game_thumb}}[[iterations:3; {gameType: 'pvb', parentClass: 'latest-pvb-game-thumb'}]]
</div>
<div class="flex-lobby-container">
    <div class="center-content-div browse-more-link-container">
        <a href="/browse/player-vs-bot?medium=lobby" class="browse-more-link">Xem thêm ván mới</a>
    </div>
</div>
<div class="flex-lobby-container">
    <div class="flex-lobby-element">
        <h1>Cách chơi</h1>
        <p>
            Xem <b><a href="/how-to-play-xiangqi">trang hướng dẫn cách chơi</a></b> với bàn cờ tương tác để học về
            quân cờ và nước đi. Bạn cũng có thể xem video hướng dẫn trên YouTube hoặc
            <a href="https://en.wikipedia.org/wiki/Xiangqi" target="_blank">trang Wikipedia</a>.
        </p>
        <div id="youtube-embed-container" class="center-content-div"></div>
    </div>
    <div class="flex-lobby-element">
        <h1>Mẹo</h1>
        <p>
            Nếu bạn vẫn gặp khó khăn với chữ Hán, bạn có thể chuyển sang kiểu quân La tinh
            (phương Tây) bằng nút thứ hai trên tiện ích cài đặt.
        </p>
        <p>
            Tiện ích cài đặt luôn có sẵn ở bên phải màn hình.
        </p>
        <div class="center-content-div">
            <div class="center-content-div" style="width: 90%">
                {{settings_info_box}}
            </div>
        </div>
    </div>
</div>
{{footer}}
{{kofi_floating_widget}}
</body>
</html>
