<html lang="vi">
<head>
    {{header_init}}
    <title>Khôi phục mật khẩu</title>
    {{meta_no_index}}
    <script defer src="/js/password-recovery-finalize.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>Mật khẩu</h1>
    <hr>
    Nhập mật khẩu mới:
    <br/>
    <label for="password-field"></label><input id="password-field" type="password"/>
    <br/>
    <input id="update-password-button" type="button" class="app-buttons-bigger" value="cập nhật">
</div>
{{footer}}
</body>
</html>
