<html lang="vi">
<head>
    {{header_init}}
    <title>Khôi phục mật khẩu</title>
    <meta name="description"
          content="Khôi phục mật khẩu trên elephantchess.io. Nhập địa chỉ email của bạn để nhận liên kết đặt lại mật khẩu.">
    <script defer src="/js/password-recovery-attempt.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text">
    <h1>Khôi phục mật khẩu</h1>
    <hr/>
    <p>
        Nếu bạn đã có tài khoản, hãy nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn liên kết để đặt lại mật khẩu.
    </p>
    <label for="email-field"></label><input id="email-field" type="text"/>
    <br/>
    <input id="attempt-password-recovery-button" type="button" class="app-buttons-bigger" value="gửi">
</div>
{{footer}}
</body>
</html>
