<html lang="vi">
<head>
    {{header_init}}
    <title>Cờ thế</title>
    {{meta_no_index}}
    <link rel="stylesheet" href="/css/puzzles.css"/>
    {{board_js}}
    <script defer src="/js/puzzles/puzzles-client.js"></script>
    <script defer src="/js/puzzles/puzzles-controller.js"></script>
    <script defer src="/js/puzzles/puzzles-dto.js"></script>
    <script defer src="/js/puzzles/puzzles-move-tree.js"></script>
    <script defer src="/js/puzzles/puzzles-state.js"></script>
    <script defer src="/js/puzzles/puzzles-utils.js"></script>
    <script defer src="/js/puzzles/puzzles.js"></script>
</head>
<body>
{{body_init}}
<div class="flex-triptych-container">
    <div class="flex-triptych-left-container">
        <div id="mobile-navigation-panel" class="navigation-panel mobile-navigation-panel only-mobile"></div>
        <div class="info-box">
            <div id="vote-up-down-container">
                <img id="vote-thumbs-up" src="/images/icons/thumbs-up.png" alt="thích" loading="lazy"/>
                <img id="vote-thumbs-down" src="/images/icons/thumbs-down.png" alt="không thích" loading="lazy"/>
            </div>
            <table class="info-box-table">
                <tbody>
                <tr>
                    <td class="icon-cell">
                        <img src="/images/icons/puzzle-piece.png" class="less-dark-icon" alt="luyện cờ thế"/>
                    </td>
                    <td class="description-cell">
                        <table class="info-box-sub-table">
                            <tbody>
                            <tr>
                                <td class="labels">Cờ thế</td>
                                <td class="values">
                                    <span id="puzzle-id" class="action-link"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="labels">Lượt thử</td>
                                <td class="values">
                                    <span id="number-of-attempts"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="labels">Điểm</td>
                                <td class="values">
                                    <span id="puzzle-rating" class="hidden-values">ẩn</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="labels">Thể loại</td>
                                <td class="values">
                                    <span id="puzzle-categories" class="hidden-values">ẩn</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="game-info-box" class="info-box">
            <table class="info-box-table">
                <tbody>
                <tr>
                    <td class="icon-cell">
                        <img src="/images/icons/servers.png" id="game-type-icon" alt="loại ván cờ"/>
                    </td>
                    <td class="description-cell">
                        <div class="game-info-container">
                            <div id="game-info" class="hidden-values">ẩn</div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="puzzle-feedback-info-box" class="info-box center-content-vertical">
            <div style="width: 100%">
                <table id="playing-red-feedback-box" class="info-box-table feedback-info-box-table">
                    <tbody>
                    <tr>
                        <td class="icon-cell">
                            <img src="/images/pieces/traditional/red_general_char.png" alt="tướng"/>
                        </td>
                        <td class="description-cell">
                            <div>
                                Bạn cầm quân <span class="red-color">Đỏ</span>.
                                <br/>Hãy tìm đường <b>ngắn nhất</b> để chiếu hết.
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table id="playing-black-feedback-box" class="info-box-table feedback-info-box-table">
                    <tbody>
                    <tr>
                        <td class="icon-cell">
                            <img src="/images/pieces/traditional/black_general_char.png" alt="tướng"/>
                        </td>
                        <td class="description-cell">
                            <div>
                                Bạn cầm quân <span class="black-color">Đen</span>.
                                <br/>Hãy tìm đường <b>ngắn nhất</b> để chiếu hết.
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table id="no-solution-feedback-box" class="info-box-table feedback-info-box-table">
                    <tbody>
                    <tr>
                        <td class="icon-cell">
                            <img src="/images/icons/wrong-icon.png" alt="thất bại"/>
                        </td>
                        <td class="description-cell">
                            <div>
                                Không tìm thấy lời giải trong số nước đi cho phép
                                (<span id="allocated-plies">N</span>).
                                <br/><span class="action-link next-puzzle-link">[Enter] Cờ thế tiếp theo</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table id="mated-by-puzzle-feedback-box" class="info-box-table feedback-info-box-table">
                    <tbody>
                    <tr>
                        <td class="icon-cell">
                            <img src="/images/icons/wrong-icon.png" alt="thất bại"/>
                        </td>
                        <td class="description-cell">
                            <div>
                                Bạn đã bị chiếu hết.
                                <br/><span class="action-link next-puzzle-link">[Enter] Cờ thế tiếp theo</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table id="puzzle-solved-feedback-box" class="info-box-table feedback-info-box-table">
                    <tbody>
                    <tr>
                        <td class="icon-cell">
                            <img src="/images/icons/trophy-icon-gold-smaller.png" alt="giải được cờ thế"/>
                        </td>
                        <td class="description-cell">
                            <div>
                                Tuyệt vời! Bạn đã giải được cờ thế bằng <span id="victory-type">chiếu hết</span>!
                                <br/><span class="action-link next-puzzle-link">[Enter] Cờ thế tiếp theo</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table id="solution-revealed-feedback-box" class="info-box-table feedback-info-box-table">
                    <tbody>
                    <tr>
                        <td class="icon-cell">
                            <img src="/images/icons/open-book.png" class="less-dark-icons" alt="đã hiện lời giải"/>
                        </td>
                        <td class="description-cell">
                            <div>
                                Đã hiện lời giải.
                                <br/><span class="action-link next-puzzle-link">[Enter] Cờ thế tiếp theo</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="info-box">
            <table class="info-box-table">
                <tbody>
                <tr id="skip-puzzle-button" class="enabled-button">
                    <td class="icon-cell">
                        <img src="/images/icons/navigation-beginning.png"
                             style="width:58%; transform: rotate(180deg)" class="less-dark-icons"
                             alt="bỏ qua"/>
                    </td>
                    <td class="description-cell">
                        Bỏ qua cờ thế
                    </td>
                </tr>
                <tr id="reveal-solution-button" class="enabled-button">
                    <td class="icon-cell">
                        <img src="/images/icons/open-book.png" class="less-dark-icons" alt="hiện lời giải"/>
                    </td>
                    <td class="description-cell">
                        Hiện lời giải
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="user-rating-info-box" class="info-box">
            <table class="info-box-table">
                <tbody>
                <tr>
                    <td class="icon-cell">
                        <img src="/images/icons/stats.png" class="less-dark-icons" alt="điểm"/>
                    </td>
                    <td class="description-cell">
                        Điểm của bạn
                        <br/>
                        <div id="user-rating-value-box" class="user-rating-value-box"></div>
                        <div id="user-rating-delta-value-box" class="user-rating-delta-value-box"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex-triptych-board-container">
        <div id="board-container" class="board-container"></div>
    </div>
    <div class="flex-triptych-right-container">
        {{settings_info_box}}
        <div id="move-tree-container" class="move-tree-container"></div>
        <div id="move-history-navigation-panel" class="navigation-panel only-desktop"></div>
    </div>
</div>
{{logged_as_guest_message}}
</body>
</html>
