<html lang="vi">
<head>
    {{header_init}}
    <title>Bàn Cờ Thử Cờ Tướng (Xiangqi) – elephantchess.io</title>
    <meta name="description"
          content="Công cụ bàn cờ Cờ Tướng (Xiangqi) đơn giản để thử thế cờ hoặc chơi trực tiếp trên máy tính bảng. Miễn phí, không cần tải, chạy ngay trong trình duyệt.">
    {{board_js}}
    <link rel="stylesheet" href="/css/test-board.css"/>
    <script defer src="/js/test-board.js"></script>
</head>
<body>
{{body_init}}
<div class="flex-triptych-container">
    <div class="flex-triptych-left-container">
        <div id="mobile-navigation-panel" class="navigation-panel mobile-navigation-panel only-mobile"></div>
        <div class="info-box">
            <table class="info-box-table">
                <tbody>
                <tr>
                    <td class="icon-cell">
                        <img src="/images/icons/simple-grid.svg" alt="chess"/>
                    </td>
                    <td class="description-cell">
                        Công cụ bàn cờ thử đơn giản để thử thế cờ hoặc chơi trực tiếp trên máy tính bảng.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="manchu-explanation" class="info-box">
            <p>
                Trong cờ Mãn Châu (còn gọi là Yitong): Quân đen được bố trí và di chuyển giống như cờ tướng, nhưng
                bên đỏ thiếu mã, pháo và một xe. Xe còn lại có sức mạnh kết hợp
                của xe, mã và pháo.
            </p>
            <p>
                Mặc dù đen dường như có lợi thế, sự lợi hại của xe đỏ có thể dễ dàng dẫn đến
                tàn cuộc thua nếu đen không chơi thận trọng.
            </p>
            <p>
                Xe đỏ được cho là tượng trưng cho những người lính Solon dũng cảm và
                dày dạn trận mạc trong cuộc chinh phạt Trung Quốc của người Mãn Châu.
            </p>
            <p>
                Xe đỏ đặc biệt này còn được gọi là "siêu xe" và được ký hiệu là M trong ký pháp FEN.
            </p>
            <p>
                <a href="https://en.wikipedia.org/wiki/Manchu_chess" target="_blank">https://en.wikipedia.org/wiki/Manchu_chess</a>
            </p>
        </div>
    </div>

    <div class="flex-triptych-board-container">
        <div id="board-container" class="board-container"></div>
    </div>

    <div class="flex-triptych-right-container">
        {{settings_info_box}}
        <div id="move-tree-container" class="move-tree-container"></div>
        <div id="move-history-navigation-panel" class="navigation-panel only-desktop"></div>
    </div>
</div>
{{logged_as_guest_message}}
{{kofi_floating_widget}}
</body>
</html>
