<html lang="vi">
<head>
    {{header_init}}
    <title>Phiên Đăng Nhập</title>
    {{meta_no_index}}
    <link rel="stylesheet" href="/css/common/nice-table.css"/>
    <link rel="stylesheet" href="/css/user-settings.css"/>
    <script defer src="/js/modules/countries.js"></script>
    <script defer src="/js/infinite-scroll-page.js"></script>
    <script defer src="/js/user-settings/user-sessions-widget.js"></script>
    <script defer src="/js/user-settings/user-sessions-page.js"></script>
</head>
<body>
{{body_init}}
<div class="main-container-text-extended-larger">
    <h1>Phiên Đăng Nhập</h1>
    <hr/>
    <div id="sessions-actions-container" class="hidden">
        <input id="delete-sessions-button" type="button" class="app-buttons-bigger" value="xóa đã chọn">
        <input id="delete-all-sessions-button" type="button" class="app-buttons-bigger" value="xóa tất cả">
    </div>
    <div id="user-sessions-table-container">
        <table id="user-sessions-table" class="nice-table nice-table-striped nice-table-hover">
            <thead>
            <tr>
                <th></th>
                <th class="label-cell">hệ điều hành</th>
                <th class="label-cell">trình duyệt</th>
                <th class="label-cell">quốc gia</th>
                <th class="label-cell">vùng</th>
                <th class="label-cell">thành phố</th>
                <th class="label-cell">IP</th>
                <th class="label-cell">tạo lúc</th>
                <th class="label-cell">cập nhật</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <p id="user-sessions-empty-message" class="hidden">Không tìm thấy phiên nào.</p>
    <div id="is-loading-message" style="display: none;">
        Đang tải thêm phiên...
    </div>
    <div id="end-of-pagination-message" style="display: none;">
        Không còn phiên nào để hiển thị
    </div>
</div>
</body>
</html>
